body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto';
}

* {
    border: red 1px solid;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-self: stretch;
    height: 100px;
    flex-shrink: 0;
    margin-bottom: 0;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}


.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: auto;
}


.content1left {
    padding: 80px 20px;
    flex-shrink: 1;
}

.cardpic {
    border-radius: 25px;
    border: solid 2px #3882f6;
}


.content2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 180px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.pagetop {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px 60px 50px 60px;
}

.footer {
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: grey;
}


.signup {
    margin: 40px 120px;
    background-color: rgb(65, 128, 180);
    padding: 10px 40px;
    display: flex;
    justify-content: center;
}

.signupleft {
    flex-grow: 3;
}

h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}


.quotebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.quote {
    font-size: 36px;
    font-style:  italic ;
    font-weight: lighter;
    max-width: 1400px;
    margin: 0 50px;
}

.quotesource {
    align-self: flex-end;
}