body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

* {
    border: red 1px solid;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    align-self: stretch;
    height: 100px;
    flex-shrink: 0;
    margin-bottom: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}


.content1 {
    display: flex;
    align-self: stretch;
}

.content1left {
    padding: 80px 30px;
    padding-left: 100px;
}


.content2 {

}

.pagetop {
    background-color: rgb(70, 70, 136);
    color: white;
    padding: 10px 60px 50px 60px;
}

.footer {
    height: 50px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(70, 70, 136);
}